@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Public Sans', sans-serif;
  color: #1e3932;
  font-size: 16px;
  letter-spacing: 0.5px; }

p {
  font-weight: 500; }

.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  transition: all .2s ease-in-out; }
  header .header__content {
    height: 110px;
    margin: 0 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .header__content .header-nav {
      outline: none;
      font-weight: 500;
      padding: 0;
      list-style: none;
      margin: 0;
      font-size: 18px;
      display: flex;
      align-items: center; }
      header .header__content .header-nav a {
        text-decoration: none;
        color: #1e3932; }
    header .header__content .nav-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    header .header__content .nav-left li {
      padding: 6px 20px; }
      header .header__content .nav-left li:first-of-type {
        padding-left: 0; }
    header .header__content .nav-right .search i {
      margin-right: 14px; }
    header .header__content .nav-right .lan-select {
      margin-left: 40px;
      margin-right: 16px; }
  header:hover {
    background-color: white !important; }

.banner {
  position: relative;
  width: 100%; }
  .banner__img {
    width: 100%;
    height: 876px;
    object-fit: cover;
    backface-visibility: hidden;
    outline: none; }
  .banner__content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 18%;
    width: 85%;
    transform: translateX(-50%);
    transition: all 1.2s linear;
    transition-delay: .5s;
    opacity: 0; }
    .banner__content h1 {
      font-size: 72px;
      font-family: "Redressed", cursive;
      margin-bottom: 10px; }
    .banner__content p {
      font-size: 18px;
      margin-bottom: 20px; }

.atHome {
  background-color: #f2f0eb; }
  .atHome .atHome__content {
    text-align: center; }
    .atHome .atHome__content h2 {
      margin-bottom: 27px; }
    .atHome .atHome__content p {
      width: 80%;
      margin: auto;
      font-size: 18px;
      letter-spacing: 1.5px; }

.introduction {
  user-select: none; }
  .introduction__item {
    position: relative; }
    .introduction__item__img {
      object-fit: center; }
    .introduction__item__overlay {
      position: absolute;
      background: linear-gradient(to left, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6));
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    .introduction__item__content {
      width: 462px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
      color: #fff; }
      .introduction__item__content h4 {
        font-size: 18px;
        font-weight: 400;
        font-family: "Bebas Neue", cursive;
        letter-spacing: 4px;
        margin-bottom: 20px;
        user-select: none; }
      .introduction__item__content p {
        margin-bottom: 58px; }

.about {
  text-align: center; }
  .about__img {
    text-align: center; }
  .about__content {
    height: 100%;
    display: flex;
    align-items: center; }
    .about__content__container {
      width: 553px; }
      .about__content__container h1 {
        line-height: 74px; }
      .about__content__container p {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 32px; }

.roast {
  background-color: #1e3932; }
  .roast__img {
    text-align: center; }
  .roast__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .roast__content__container {
      color: #fff;
      width: 530px; }
      .roast__content__container h1 {
        line-height: 60px; }
      .roast__content__container p {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 32px; }
      .roast__content__container span {
        color: #fff !important; }

.footer {
  background-color: #1e3932;
  padding: 128px 0 28px;
  position: relative; }
  .footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0; }
  .footer__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -37%); }
  .footer__primary {
    margin-bottom: 25px; }
    .footer__primary li {
      margin-right: 37px; }
      .footer__primary li:last-child {
        margin-left: 0; }
      .footer__primary li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500; }
  .footer__legal li {
    margin-right: 48px; }
    .footer__legal li:last-child {
      margin: 0; }
    .footer__legal li a {
      color: #9b9b9b;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none; }
  .footer__social {
    margin-top: 33px; }
    .footer__social li {
      margin-right: 50px; }
      .footer__social li a {
        text-decoration: none; }
        .footer__social li a i {
          font-size: 22px;
          color: #e6e6e657; }
  .footer__copyright {
    text-align: center; }
    .footer__copyright p {
      width: 43%;
      line-height: 11px;
      margin: 18px auto 0;
      color: #9b9b9b;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0; }

.hide-nav {
  position: absolute;
  opacity: 0;
  top: -110px;
  transition: all .3s ease-in-out; }

.transparent-nav {
  background-color: rgba(255, 255, 255, 0); }

.background-nav {
  background-color: white; }

.btn-green {
  color: #fff;
  background-color: #006241;
  border: 1px solid #006241;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 75px;
  letter-spacing: 1px; }

.sub-header {
  text-transform: uppercase;
  color: #00754a;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 8px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 8px; }

.main-header {
  font-size: 62px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 60px; }

.timer-w-btn {
  margin-left: 36px;
  color: #00754a; }
  .timer-w-btn i {
    margin-right: 10px; }

.sp {
  padding: 100px 60px; }

/*# sourceMappingURL=main.css.map */
