.atHome{
    background-color: $color-gray-1;
    .atHome__content{
        text-align: center;
        h2{
            margin-bottom: $mg-2 + 2;
            transform: translateY(24px);

        }
        p{
            width: 80%;
            margin: auto;
            font-size:$fs-3 ;
           
            letter-spacing: 1.5px;
        }   
    }
}