.hide-nav {
    position: absolute;
    opacity: 0;
    top: -110px;
    transition: all .3s ease-in-out;
  }
  
  .transparent-nav {
    background-color: rgba(255, 255, 255, 0)
  }
  .background-nav{
    background-color: white;
  }