.hide-nav {
    position: absolute;
    opacity: 0;
    top: -110px;
    transition: all .3s ease-in-out;
  }
  
  .transparent-nav {
    background-color: rgba(255, 255, 255, 0)
  }
  .background-nav{
    background-color: white;
  }

  

  .obs{
    opacity: 0;
    transition: all .5s ease-in-out;
    transition-delay: .25s;
  }

  .show{
    transform: translate(0) !important;
    opacity: 1 !important;
  }

  .active{
    opacity: 1 !important;
    height: 100% !important;
    overflow: visible;
  }



  

