.sub-header{
    text-transform: uppercase;
            color: $color-green-0;
            font-weight: $fw-0;
            font-size: $fs-4;
            letter-spacing: $ls-2;
            margin-bottom: $mg-0;
            font-family: $ff-1;
            letter-spacing: $ls-2;
}