$color-primary:#1e3932;
$color-secondary:#006241;

$color-white-0: #fff;

$color-green-0:#00754a;


// padding
$pd-0:6px;
$pd-1:8px;
$pd-2:20px;
$pd-3:28px;
$pd-4:60px;
$pd-5:94px;
$pd-6:100px;
$pd-7:128px;

// fs
$fs-0:10px;
$fs-1:14px;
$fs-2:16px;
$fs-3:18px;
$fs-4:22px;
$fs-5:48px;
$fs-6:62px;






